<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for using URL Lockbox!</h1>
    <p>
      This link was forwarded: <%= @link.url %>
      from the registered email address: <%= @email %>.<br>
    </p>
    <p>Thanks for your patronage and have a great day!</p>
  </body>
</html>
