<td><%= link_to "Edit", edit_link_path(link), id: "edit-link-#{link.id}" %></td>
<td><%= link.title %></td>
<td><%= link_to "#{link.url}", link.url %></td>
<td>Read</td>
<td><%= link_to "Change Status", link_path(id: link.id, link: { url: link.url, title: link.title, read: status }), method: :patch, id: "link-#{link.id}" %></td>
