<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">
        URL LockBox
      </li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <% if user_logged_in? %>
        <li>
          <%= "Logged in as " + current_user.email %>
        </li>
        <li>
          <%= link_to "Logout", "/logout" %>
        </li>
        <% else %>
        <li>
          <%= link_to "Log In", controller: "sessions", action: "new" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
