<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">
        URL LockBox
      </li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li>
        <% if current_user? %>
          <%= link_to "Logout", controller: "sessions", action: "destroy" %>
        <% else %>
          Authenticated User Not Detected!
        <% end %>
      </li>
    </ul>
  </div>
</div>
