<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">
        URL LockBox
      </li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li>
        <% if current_user? %>
          <%= link_to "Logout", "/logout" %>
        <% else %>
          <%= link_to "Log In", controller: "sessions", action: "new" %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
