<div class="callout large primary text-center">
  <h3>Edit Link Information</h3>
</div>

<div class="row">
  <div class="large-6 medium-6 large-centered medium-centered columns">
    <%= render partial: "shared/link_form" %>
  </div>
</div>
