<div class="container" id="content">
  <div class="row">
    </br>
    <div class="large-6 medium-6 columns">
      <h3 class="text-center">Edit Link Information</h3>
      <%= render partial: "shared/link_form" %>
    </div>
  </div>
</div>
